table,th, td {
    border: 1px solid #3b9ad1;
    border-collapse: collapse;   
  }
 
    .grey {
        background-color: hsl(180, 3%, 81%);
      }
.purple{
    background-color: #c4c3fb;
}

 .blue{
    background-color:rgb(145, 195, 236);
 }
 .green{
    background-color:rgb(164, 246, 41);
 }
 .b1{
    background-color:rgb(252, 253, 151);
 }
 .b2{
    background-color:rgb(222, 243, 69);
 }